html {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  width: 35vmin;
}

.ribu-zemelapis {
  margin: 20px;
}

.burelio-nariai {
  width: 900px;
}

.galerijos-nuotrauka {
  /* width: 800px; */
}

.content-wrapper {
  align-items: left;
  color: rgb(42, 43, 40);;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(79,136,248);
}

#root {
  height: 100%;
}