.social-media-footer {
    background: rgb(76, 82, 42);
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 44px;
    opacity: 0.85;
    color: white;   

}

.social-media-list {
    color:  rgb(241, 206, 91);
    text-align: right;
    margin: 0;
    font-size: 2vmin;
}

.social-media-link {
    display: inline-block;
    padding: 10px;
}